@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.MainContainer {
	display: grid;
	place-items: center;
	height: 100vh;
}

.App {
	text-align: center;
}

.Preview {
	height: 25vh;
	width: auto;
}

.MainCard {
}
